.zot-table-container {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  max-width: 100%;
  overflow-x: auto;
}

.zot-table {
  width: 100%;
  word-break: normal;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--ls-primary-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--ls-primary-background-color);
}

.zot-table button {
  background-color: var(--ls-button-background);
  font-size: 0.6rem;
  padding: 4px 8px;
  border-radius: 4px;
}

.zot-table th,
.zot-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--ls-primary-text-color);
}

.zot-table thead {
  background-color: transparent;
}

.zot-table th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

.zot-table tbody tr:nth-child(odd) {
  background-color: var(--ls-secondary-background-color);
}

.zot-table tbody tr:hover {
  background-color: var(--ls-quaternary-background-color);
}

.column-chooser {
  position: absolute;
  background: var(--ls-quaternary-background-color);
  border: 1px solid var(--ls-primary-text-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.column-chooser label {
  display: block;
  margin-bottom: 5px;
}

.column-chooser input[type='checkbox'] {
  margin-right: 5px;
}

#logseq-zoterolocal-plugin--popup {
  height: 100vh;  
}

.creators-box {
  white-space: nowrap;
}